{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
{% if last_ad %}
  {% for ad in last_ad %}
<div class="ads__inner">
    <div class="ads__inner--author"> Автор: <a href="{% url 'ads:profile' ad.author.id %}">{{ ad.author }}</a><span class="ads__inner--date"> {{ ad.date_pub }} </span></div>
    <div  class="ads__inner--category"> Категории: {% for set in ad.categories.all %}
        {{ set }}
        {% endfor %}
    </div>
    <div class="ads__inner--title"><a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a></div>
    {% if ad.photo %}
        <div><img alt="ad's image" src="{{ ad.photo.url }}" style="width: 10%; height: 10%;"></div>
    {% else %}
    <div>Нет ни одной фотографии</div>
    {% endif %}
    <div class="ads__inner--text"> {{ ad.description }} </div>
</div>
  {% endfor %}
{% else %}
  <div>Нет ни одной публикации</div>
{% endif %}
{% endblock %}}
